.header {
  color: #fff;
  text-align: center;
  padding: 10px 0;
  background: #292e33;
  border: 1px solid #394047;
  margin-bottom: 20px;

}
.header-logo {
  max-width: 80px;
}
.header-menu {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 5px 20px;
}

.currency-container {
  display: flex;
  align-items: center;
  gap: 30px;
}
.currency-items {
  display: flex;
  align-items: center;
  gap: 20px;
}
.currency{
    display: flex;
    align-items: center;
    border: 1px solid #5c6973;
    border-radius: 10px;
    padding: 10px;
    gap: 5px;
}
.currency img{
    width: 40px;
    border-radius: 3px;
}

.currency-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .header {
    font-size: 16px;
  }
  .header-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .header-logo {
    width: 50px;
  }
}
